* {
  margin: 0;
  padding: 0;
}
/* CSS Variables */
:root {
  --navbar-height: 10px;
}
/* Background image */

#logo {
  width: 20%;
}
/* Navigation */

#navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  padding-top:2rem ;
}

/* Navigation Bar Li */
.nav-item ul {
  display: flex;
  align-items: flex-end;
}
.nav-item ul li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}
.nav-item ul li a {
  display: block;
  padding: 2px 23px;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(51 65 85);
}
.nav-item ul li a:hover{
  color: rgb(234, 62, 62);
  cursor: pointer;
}

/* Home section */
.slider-images {
  height: 600px;
  width: 100%;
  display: flex;
}
.slider-images img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
}

.bg-black {
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.3);
}
.section-body {
  width: 100%;
  margin: 5% 0;
}

.products-section img {
  border-radius: 6px;
}

.products-section img:hover {
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.7);
}

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 577px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  position: absolute;
  background: url(../images/bg.jpg) no-repeat center center/cover;
  height: 642px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}

#home h1 {
  color: black;
  text-align: center;
  font-family: "Bree Serif", serif;
}
#home p {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
}

/* Services Section */
#services {
  margin: 25px;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  padding: 10px;
  margin: 2px 23px;
  border-radius: 20px;
  background: rgb(255 242 242);
  margin-bottom: 20px;
}
#services .box img {
  display: block;
  margin: auto;
  height: 180px;
}
.align-content {
  flex-direction: column;
  justify-content: center;
}

#services .box p {
  font-family: "Bree Serif", serif;
}

.customer {
  background-color: #a82d49 !important;
  padding: 2%;
  color: white;
}

.gravy-section p {
  line-height: 1.8;
  text-align: justify;
}

.vegies {
  background-image: url(../images/vegies.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 8%;
}

.vegies h3 {
  width: 77%;
  margin: 0 auto;
}
.vegies h5 {
  width: 63%;
  margin: 0 auto;
}
/* Client section */
#client-section {
  height: 410px;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
#clients img {
  height: 300px;
}

/* Contact Section */
#contact {
  position: relative;
}
#contact {
  background: url(../images/contact-page.jpg) no-repeat center center/cover;
}

#name,
#email,
#message {
  opacity: 0.5;
}

#name:hover,
#email:hover,
#message:hover {
  opacity: 1;
}
#message {
  resize: none;
}
.contact-us-img {
  border-radius: 5%;
}
.owl-carousel .item {
  width: 100%;
  margin-right: 10px;
  border: 1px solid grey;
}
footer {
  color: black;
  border-top: 1px solid grey;
}


/* Scroll Up Button */

#scrollUpButton {
  display: inline-block;
  background-color: rgb(50, 162, 236);
  width: 2%;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#scrollUpButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 30px;
  color: #fff;
}
#scrollUpButton:hover {
  cursor: pointer;
  text-decoration: none;
}
#scrollUpButton:active {
  background-color: #555;
}
#scrollUpButton.show {
  opacity: 1;
  visibility: visible;
}

/* @media screen and (min-width: 800px) {
  #scrollUpButton {
    width: 4%;
  }
}

@media screen and (min-width: 400px) {
  #scrollUpButton {
    width: 7%;
  }
} */
